footer{
    background-image: url("../img/Footer-bgShape.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 100%;
}